h1 { font-family: Verdana, Arial, Helvetica; font-weight: bold;
     font-size: 16pt; text-align: center; }

body { font-family: Verdana, Arial, Helvetica; font-size: 14pt; width: 600px;
       background-color: #FFD0D0;
     }

